

input {
    margin-top: 50px;
    width: 80%;
    height: 50px;
    border-color: #435160;
    border-radius: 120px;
    padding: 20px 0px;
    outline: none;
    color: #6D7781;
    font-size: 25px;
}
